.boxed_layout .container {
    width: calc(100% - 50px);
}
.wp-block-code {
    box-sizing: border-box;
    border: 1px solid #cecece;
    background: #fafafa;
    min-height: 54px;
}
.page .post-wrap, .post-wrap {
    padding: 0 25px 25px;
}
.post-header {
    padding: 30px;
}
#main-content {
    padding-top: 20px;
}
.etad.header_below {
    margin-top: 20px;
}
.post-wrap h1, .post-wrap h2, .post-wrap h3, .post-wrap h4, .post-wrap h5, .post-wrap h6{
	padding-top:10px;
}
